
<app-task-form (newTask)="onNewTask($event)"></app-task-form>
<ul class="float-left w-100 p-0 list-group" *ngFor="let task of tasks" >
  <li class="px-1 list-group-item"> <i class="fa fa-trash" (click)="deleteTask(task.id)"></i>
    <div class="d-inline-block" *ngIf="!task.editList;else EditUser">
      <i class="fa fa-pencil" (click)="toggleEdit(task.id)"></i> {{task.content}}
    </div>
    <ng-template #EditUser>
      <div class="d-inline-block">
          <input class="form-control border-0 rounded-0 d-inline-block w-50" type="text" name="contentEdit" value={{task.content}} #contentEdit>
        <i class="fa fa-save mx-1" (click)="editTask(task.id,contentEdit.value)"></i>

      </div>
    </ng-template>

  </li>

</ul>
<ul class="list-inline text-center bg-primary" >
  <li *ngFor="let item of numberToArray(pages); let i = index;" (click)="nextPage(i+1)" class="list-inline-item">{{i+1}}</li>
</ul>
