<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card border-0 rounded-0 mx-auto w-50 my-5">
    <h4 class="card-title bg-primary text-white text-uppercase font-weight-normal p-2">to-do List </h4>

  <app-list></app-list>
  </div>
</div>

