<p class="card-text px-1 pt-2  pb-2 text-center">
    <input class="form-control border-0 rounded-0 d-inline-block w-50" [(ngModel)]="currentContent" type="text" name="content" placeholder="Add a new TODO" #content>
    <i class="fa fa-plus mx-1" (click)="addTask(content.value)"></i>
</p>
